language: generic
sudo: required
script: swift test
matrix:
  include:
    - name: Xcode 10
      os: osx
      osx_image: xcode10
    - name: Linux Swift 4.2
      os: linux
      dist: trusty
      install:
        - wget https://swift.org/builds/swift-4.2-release/ubuntu1404/swift-4.2-RELEASE/swift-4.2-RELEASE-ubuntu14.04.tar.gz
        - tar xzf swift-4.2-RELEASE-ubuntu14.04.tar.gz
        - export PATH=`pwd`/swift-4.2-RELEASE-ubuntu14.04/usr/bin:"${PATH}"      
    - name: Code Quality Checks
      os: osx
      osx_image: xcode10
      install:
        - brew update
        - brew upgrade swiftlint || true
      addons:
        sonarcloud:
          organization: bouke-github
      script:
        - swiftlint --strict
        - sonar-scanner
  allow_failures:
    - os: linux
